<div class="col-md-12" style="padding: 0.5em;">
  <app-template-default titulo="Estoque Peças" (acaoFormulario)="getAcaoFormulario($event)" [paginaComponent]="this">


    <form [formGroup]="form" style="margin-bottom: 20px;">

      <div class="divDadosPrincipais">
        <div class="col-md-12">

          <div class="row d-flex justify-content-center">

            <mat-form-field class="col-md-3" appearance="outline">
              <mat-label>Peça</mat-label>
              <input matInput formControlName='codigo' appUpperCaseInput>
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="outline">
              <mat-label>Tipo Peça</mat-label>
              <mat-select formControlName="tipo_peca_id">
                  <mat-option *ngFor="let tipoPeca of lista_tipoPecas" [value]="tipoPeca.id">
                    {{tipoPeca.descricao}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="outline">
              <mat-label>Fornecedor</mat-label>
              <mat-select formControlName="fornecedor_id">
                  <mat-option *ngFor="let fornecedor of lista_fornecedores" [value]="fornecedor.id">
                    {{fornecedor.razao_Social.toUpperCase()}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <button class="col-md-1" mat-raised-button color="primary" style="margin-right: 10px; height: 40px;" (click)="buscarPecas()">Buscar</button>
            <button class="col-md-1" mat-raised-button style="margin-right: 10px; height: 40px;" (click)="limparCampos()">Limpar</button>

          </div>

        </div>
      </div>

    </form>


  <mat-form-field class="col-md-12" style="margin-top: 30px;">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="btnConsultar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"></th>
        <td mat-cell *matCellDef="let row" (click)="consultarPeca(row)">
          <button mat-button>
            <span class="material-icons">search</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Peça </th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="valor_compra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Compra </th>
        <td mat-cell *matCellDef="let row"> R$ {{row.valor_Compra}} </td>
      </ng-container>

      <ng-container matColumnDef="valor_venda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Venda </th>
        <td mat-cell *matCellDef="let row"> R$ {{row.valor_Venda}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_peca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Peça </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo_Peca_Descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fornecedor </th>
        <td mat-cell *matCellDef="let row"> {{row.fornecedor}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
        <td mat-cell *matCellDef="let row" (focusout)="atualizarQuantidade(row, $event)">
          <mat-form-field appearance="outline" style="width: 75px;">
            <input matInput [value]="row.quantidade" style="text-align: center;">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnEditar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"></th>
        <td mat-cell *matCellDef="let row" (click)="redirectEditar(row)">
          <button mat-button>
            <span class="material-icons">edit</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnExcluir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;">
          <button mat-button [routerLink]="['/gestao/estoque/peca/cadastrar']">
            <span class="material-icons">add_box</span>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- <button mat-button>
            <span class="material-icons">delete</span>
          </button> -->
          <mat-slide-toggle [checked]="row.ativo" (toggleChange)="toggleChange(row, $event)"></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum resultado obtido na pesquisa "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>



  </app-template-default>
</div>
