<div class="col-md-12" style="padding: 0.5em;">
  <app-template-default titulo="Cadastrar Pedido" (acaoFormulario)="getAcaoFormulario($event)" [paginaComponent]="this">

    <mat-stepper #stepper>

      <!-- Informações do Pedido -->
      <mat-step [stepControl]="formPedido" errorMessage="Preencha os campos obrigatórios">

        <form [formGroup]="formPedido" style="padding-top: 20px;">
          <ng-template matStepLabel>Pedido</ng-template>
            <div class="row">

              <mat-form-field class="col-md-6" appearance="outline">
                <mat-icon matSuffix class="material-icons" (click)="abrirDialogCliente()">search</mat-icon>
                <mat-label>Cliente</mat-label>
                <input matInput formControlName="cliente" required>
              </mat-form-field>

              <mat-form-field class="col-md-3" appearance="outline">
                <mat-label>Funcionário</mat-label>
                <input matInput formControlName="usuario" required>
              </mat-form-field>

              <mat-form-field class="col-md-3" appearance="outline">
                <mat-label>Data e Hora do Pedido</mat-label>
                <input matInput formControlName="dthr_pedido" required mask="00/00/0000 00:00">
              </mat-form-field>

            </div>

            <div class="row">
              <a (click)="abrirClienteFormComponent()">TESTE</a>
            </div>

            <div class="d-flex justify-content-end" style="padding-top: 50px;">
              <button mat-button color="primary" matStepperNext>Seguinte</button>
            </div>

        </form>
      </mat-step>


      <!-- Peças -->
      <form [formGroup]="formPeca">
      <mat-step [stepControl]="formPeca" errorMessage="Address is required.">
        <ng-template matStepLabel>Peças</ng-template>

        <table mat-table [dataSource]="arrayPecas" class="mat-elevation-z8">

          <!-- <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container> -->

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="tipo_peca">
            <th mat-header-cell *matHeaderCellDef> Tipo Peça </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_Peca_Descricao}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="fornecedor">
            <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
            <td mat-cell *matCellDef="let element"> {{element.fornecedor}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
            <td mat-cell *matCellDef="let row" (focusout)="checarQuantidade(row, $event)">
              <mat-form-field appearance="outline" style="width: 75px;">
                <input matInput style="text-align: center;" formControlName="quantidade{{row.id}}">
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="estoque">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estoque </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="valor_venda">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> R$ {{element.valor_Venda}} </td>
            <td mat-footer-cell *matFooterCellDef> <b> {{getTotalVenda() > 0 ? "R$ " + getTotalVenda() : ""}} </b> </td>
          </ng-container>

          <ng-container matColumnDef="btn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;">
              <button mat-button (click)="abrirDialogPeca()">
                <span class="material-icons">add_box</span>
              </button>
            </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="removerPeca(row)">
                <span class="material-icons">delete</span>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsPeca"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPeca;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumnsPeca"></tr>

        </table>

        <!-- <div>
          <button mat-button (click)="teste()">teste</button>
        </div> -->

        <div class="d-flex justify-content-end" style="padding-top: 50px;">
          <button mat-button matStepperPrevious>Voltar</button>
          <button [disabled]="arrayPecas.length < 1" mat-button color="primary" matStepperNext>Seguinte</button>
        </div>

      </mat-step>
      </form>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>

    </mat-stepper>

  </app-template-default>
</div>


