:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0px;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding-top: 20px;
}

.tabela-resumo {
  max-height: 300px; /* Defina a altura máxima desejada em pixels */
  overflow-y: auto; /* Ativar barra de rolagem vertical quando o conteúdo exceder a altura máxima */
}

fieldset, legend {
  all: revert;
}

:host ::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
