<div class="col-md-12" style="padding: 0.5em;">
  <app-template-default titulo="Pedidos" (acaoFormulario)="getAcaoFormulario($event)" [paginaComponent]="this">

    <form [formGroup]="form">

      <div class="col-md-12">
          <div class="row">

            <mat-form-field class="col-md-2" appearance="outline">
              <mat-label>Número do Pedido</mat-label>
              <input matInput formControlName='num_pedido' onlyNumbersDirective>
            </mat-form-field>


            <mat-form-field class="col-md-4" appearance="outline">
              <mat-icon matSuffix class="material-icons" (click)="abrirDialogCliente()">search</mat-icon>
              <mat-label>Cliente</mat-label>
              <input matInput formControlName="cliente">
            </mat-form-field>

            <mat-form-field class="col-md-2" appearance="outline">
              <mat-label>Status do Pedido</mat-label>
              <mat-select formControlName="status_pedido_id">
                  <mat-option *ngFor="let statusPedido of lista_statusPedido" [value]="statusPedido.id">
                    {{statusPedido.codigo}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-2" appearance="outline">
              <mat-label> Tipo de Pagamento </mat-label>
              <mat-select formControlName="tipo_pagamento_id">
                  <mat-option *ngFor="let tipoPagamento of lista_tipoPagamento" [value]="tipoPagamento.id">
                    {{tipoPagamento.codigo.toUpperCase()}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-2" appearance="outline">
              <mat-label> Pago </mat-label>
              <mat-select formControlName="pago">
                <mat-option value=""> </mat-option>
                <mat-option [value]="true"> SIM </mat-option>
                <mat-option [value]="false"> NÃO </mat-option>
              </mat-select>
            </mat-form-field>


        </div>

        <div class="row">

          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Data Início Pedido</mat-label>
            <input matInput formControlName="dthr_inicio_pedido" mask="00/00/0000 00:00">
            <mat-error *ngIf="!!form.get('dthr_inicio_pedido').hasError('dataNaoFutura')"> Data Inválida </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Data Fim Pedido</mat-label>
            <input matInput formControlName="dthr_fim_pedido" mask="00/00/0000 00:00">
            <mat-error *ngIf="!!form.get('dthr_fim_pedido').hasError('dataNaoFutura')"> Data Inválida </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Data Início Pagamento</mat-label>
            <input matInput formControlName="dthr_inicio_pagamento" mask="00/00/0000 00:00">
            <mat-error *ngIf="!!form.get('dthr_inicio_pagamento').hasError('dataNaoFutura')"> Data Inválida </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Data Fim Pagamento</mat-label>
            <input matInput formControlName="dthr_fim_pagamento" mask="00/00/0000 00:00">
            <mat-error *ngIf="!!form.get('dthr_fim_pagamento').hasError('dataNaoFutura')"> Data Inválida </mat-error>
          </mat-form-field>

        </div>

        <div class="row">
          <div class="d-flex justify-content-end" style="padding-top: 5px;">
            <button mat-button>Limpar</button>
            <button mat-button color="primary" (click)="buscarPedidos()">Buscar</button>
          </div>
        </div>

      </div>

    </form>

  <mat-form-field class="col-md-12" style="padding-top: 20px;">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <!-- TABELA  -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="btnConsultar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"></th>
        <!-- <td mat-cell *matCellDef="let row" (click)="consultarFornecedor(row)"> -->
        <td mat-cell *matCellDef="let row">
          <button mat-button>
            <span class="material-icons">search</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="num_pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Pedido </th>
        <td mat-cell *matCellDef="let row"> {{row.num_Pedido}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
      </ng-container>

      <ng-container matColumnDef="data_pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data do Pedido </th>
        <td mat-cell *matCellDef="let row"> {{row.data_Pedido | date:"dd/MM/YYYY HH:mm"}} </td>
      </ng-container>

      <ng-container matColumnDef="funcionario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Funcionário </th>
        <td mat-cell *matCellDef="let row"> {{row.funcionario}} </td>
      </ng-container>

      <ng-container matColumnDef="valor_pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor do Pedido </th>
        <td mat-cell *matCellDef="let row"> R$ {{row.valor_Pedido}} </td>
      </ng-container>

      <ng-container matColumnDef="valor_pago">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Pago </th>
        <td mat-cell *matCellDef="let row"> R$ {{row.valor_Pago}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_pagamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Pagamento </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo_Pagamento}} </td>
      </ng-container>

      <ng-container matColumnDef="status_pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status do Pedido </th>
        <td mat-cell *matCellDef="let row"> {{row.status_Pedido}} </td>
      </ng-container>

      <ng-container matColumnDef="btnEditar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"></th>
        <td mat-cell *matCellDef="let row">
          <!-- <td mat-cell *matCellDef="let row" (click)="redirectEditar(row)"> -->
          <button mat-button>
            <span class="material-icons">edit</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnExcluir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;">
          <button mat-button [routerLink]="['/gestao/fornecedor/cadastrar']">
            <span class="material-icons">add_box</span>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
        <!-- <td mat-cell *matCellDef="let row" (click)="acaoExcluir(row)"> -->
          <button mat-button>
            <span class="material-icons">delete</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum resultado obtido na pesquisa "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>


  </app-template-default>
</div>
