.topoHeader {
  background-color: #C1C1FF;
  border-radius: 5px;
  display: block;
  padding: 5px;
  border-bottom: 2px solid #00ffaa;
}

.mat-mdc-card-content {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep.mat-mdc-text-field-wrapper {
  height: 40px !important;
}

::ng-deep.mat-mdc-form-field-infix {
  padding-top: 10px !important;
}

::ng-deep.mdc-floating-label {
  padding-bottom: 18px !important;
  font-size: 14px !important;
}

::ng-deep.mat-mdc-form-field {
  font-size: 14px !important;
}

::ng-deep.mat-mdc-card-actions {
  padding-top: 40px !important;
}

::ng-deep .mat-mdc-select {
  font-size: 14px !important;
}

::ng-deep .mat-mdc-option {
  font-size: 14px !important;
}

::ng-deep.mat-mdc-form-field-icon-suffix {
  margin-bottom: 15px;
  margin-right: 15px;
}

::ng-deep.mat-mdc-header-row {
  height: 45px !important;
  background-color: #C1C1FF !important;
}

::ng-deep.mat-mdc-row {
  height: 45px !important;
}

::ng-deep.mat-mdc-footer-row {
  height: 45px !important;
}
