<mat-card class="example-card">
  <mat-card-header class="topoHeader">

    <!-- <div mat-card-avatar class="example-header-image"></div> -->

    <mat-card-title style="text-align: center;">{{titulo}}</mat-card-title>

    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>

  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>

    <ng-content></ng-content>

  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <div class="d-flex justify-content-end">
      <button *ngIf="paginaComponent.exibirBtnCadastrar" mat-raised-button color="primary" style="margin-right: 10px;" (click)="acaoClick('salvar')">Cadastrar</button>
      <button *ngIf="paginaComponent.exibirBtnEditar" mat-raised-button color="primary" style="margin-right: 10px;" (click)="acaoClick('salvar')">Editar</button>
      <button mat-raised-button (click)="acaoClick('cancelar')">Cancelar</button>
    </div>
  </mat-card-actions>

</mat-card>
