<div class="container" style="margin-top: 30px;">
  <div class="row">

    <div class="col-md-4">
      <mat-card class="clickable" [routerLink]="['estoque/peca']">
        <mat-card-content>
          <br>
          <h2> Estoque </h2>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card class="clickable" [routerLink]="['cliente']">
        <mat-card-content>
          <br>
          <h2> Clientes </h2>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card class="clickable" [routerLink]="['fornecedor']">
        <mat-card-content>
          <br>
          <h2> Fornecedor </h2>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
