.containerDialog {
  width: 1256px;
  // position: absolute;
  left: 50%;
  top: 50%;
  // transform: translate(-50%, -50%);

  // your custom logic - this is a sketch
  @media only screen and (max-width: 1570px){
      width: 1090px;
  }

}

.fixed-header {
  position: sticky !important;
  top: 0px !important;
  z-index: 999;
}


